Source: vacationdrop
Section: misc
Priority: optional
Maintainer: OpenPanel/Panel6 packager <packages@panelsix.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vacationdrop
Architecture: any
Depends: , openpanel-mod-postfixcourier
Description: vacationdrop
 Tool that keeps track of autoresponding in the maildrop delivery chain.
