Source: vacationdrop
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), libgrace-dev, libgrace-dbfile-dev
Standards-Version: 3.7.2

Package: vacationdrop
Architecture: any
Depends: ${shlibs:Depends}
Description: vacationdrop
 Tool that keeps track of autoresponding in the maildrop delivery chain.
